
.rainbow
	width 700px
	height 350px
	margin 10% auto
	position relative

	.color
		cursor pointer
		opacity .5
		-webkit-animation glowAnimation 2s linear infinite
		-moz-animation glowAnimation 2s linear infinite
		-o-animation glowAnimation 2s linear infinite
		animation glowAnimation 2s linear infinite
		transform translate3d(0, 0, 0)

	.red
		position absolute
		left 50%
		margin-left -350px
		bottom 0
		height 350px
		width 700px
		background-color red
		border-radius 700px 700px 0 0

	.orange
		position absolute
		left 50%
		margin-left -300px
		bottom 0
		height 300px
		width 600px
		background-color orange
		border-radius 600px 600px 0 0

	.yellow
		position absolute
		left 50%
		margin-left -250px
		bottom 0
		height 250px
		width 500px
		background-color yellow
		border-radius 500px 500px 0 0

	.green
		position absolute
		left 50%
		margin-left -200px
		bottom 0
		height 200px
		width 400px
		background-color green
		border-radius 400px 400px 0 0

	.blue
		position absolute
		left 50%
		margin-left -150px
		bottom 0
		height 150px
		width 300px
		background-color blue
		border-radius 300px 300px 0 0

	.purple
		position absolute
		left 50%
		margin-left -100px
		bottom 0
		height 100px
		width 200px
		border-radius 200px 200px 0 0
		-moz-border-radius 200px 200px 0 0
		-webkit-border-radius 200px 200px 0 0
		background-color purple

	.magenta
		position absolute
		left 50%
		margin-left -50px
		bottom 0
		height 50px
		width 100px
		border-radius 100px 100px 0 0
		-moz-border-radius 100px 100px 0 0
		-webkit-border-radius 100px 100px 0 0
		background-color magenta